<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/mantenimiento">Añadir Usuario</a></li>
            <li><a class="dropdown-item" routerLink="/viewusers">Ver Listado Usuarios</a></li>
          </ul>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actividades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/tasks">Añadir Tarea</a></li>
            <li><a class="dropdown-item" routerLink="/assignments">Asignar Tarea</a></li>
            <li><a class="dropdown-item" routerLink="/taskstate">Cambiar Estado Tarea</a></li>
            <li><a class="dropdown-item" routerLink="/taskstateview">Ver Estado Tareas</a></li>
            <li><a class="dropdown-item" routerLink="/acts">Ver Listado Tareas</a></li>
            <li><a class="dropdown-item" routerLink="/listact">Listado Tareas Auditores</a></li>
            <li><a class="dropdown-item" routerLink="/viewtasks">Ver Listado Asignaciones</a></li>
            <li><a class="dropdown-item" routerLink="/board">Tablero</a></li>
          </ul>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Chat
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/chat">Comentarios</a></li>
          </ul>
        </li>
        <button class="btn btn-outline-primary" (click)="logout()" type="submit">Logout</button>
        <h4 style="text-align: right; margin-left: 100vh; color: #fff;">Usuario: {{usuario}}</h4>
      </ul>
    </div>
  </div>
</nav>