<app-menu></app-menu>
<body>
  <div class="main-container">
    <h2>Asignación de Tareas</h2>
    <br/>
    <div class="ui input focus">
      <b><label>Encargado: </label></b>
         <input type="text"  style="margin-left: 40px;" >
   </div>
   <br/>
   <br/>
   <b><label>Titulo Actividad: </label></b>
   <select>
      <option>Opcion</option>
   </select>
   <br/>
   <br/>
   <b><label>Fecha Inicio: </label></b>
   <input type="date"/>
   <br/>
   <br/>
   <b><label>Fecha Finalización: </label></b>
   <input type="date"/>
   <br/>
   <br/>
   <b><label>Fecha Cumplimiento: </label></b> 
   <input type="date" disabled/> <input type="checkbox" style="margin-left: 25px;">
   <br/>
  <br/>
  <button class="ui large orange button">Asignar</button>
  </div>
</body>
<app-footer></app-footer>