.main-container{
    margin-left: 550px;
    margin-top: 40px;
}
h2{
    color:yellow;
}
label{
    color:black;
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,124,16,1) 9%, rgba(47,121,9,1) 35%, rgba(45,125,20,1) 38%, rgba(28,159,111,1) 94%, rgba(0,212,255,1) 100%);
}