<body>
<app-navbar></app-navbar>
<div class="main-content">
    <b><label>Email: </label></b>
<br/>
  <div class="ui left icon input">
    <input type="password" placeholder="email">
    <i class="envelope icon"></i>
</div>
<br/>
<br/>
<b><label>Password: </label></b>
<br/>
<div class="ui left icon input">
    <input type="password" placeholder="password">
    <i class="key icon"></i>
</div>
<br/>
<br/>
<button class="ui large orange button" style="margin-left: 20px;">
    Change Password
</button>
<br/>
<br/>
<a href="" style="margin-left: 60px;">Return to Login</a>
</div>
<app-footer></app-footer>
</body>