<app-menu></app-menu>
<body>
    <div class="main-container">
        <h2>Lista de Usuarios Registrados</h2>
        <br/>
        <br/>
        <br/>
        <br/>
        <table class="ui celled table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | async">
                <td>{{user._id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button (click)="RemoveUserfromSystem(user._id)" class="ui large red button">Eliminar</button>
                  <button routerLink="/assignments" class="ui large secondary button">Asignar</button>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</body>
<app-footer></app-footer>