<app-menu></app-menu>
<body>
    <div class="main-container">
        <br/>
        <h3>Listado de Actividades</h3>
        <br/>
        <table class="ui celled table">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Actividades</th>
                <th>Auditor</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tasks of allTasks | async">
                <td>{{tasks.titulo}}</td>
                <td>{{tasks.actividades}}</td>
                <td>{{tasks.encargado}}</td> 
                <td>
                    <button class="ui small red button" (click)="RemoveTask(tasks._id)">Eliminar</button>
                    <button routerLink="/assignments" class="ui large secondary button">Asignar</button>
                </td>
              </tr>
            </tbody>
          </table> 
    </div>
</body>
<app-footer></app-footer>