<app-menu></app-menu>
<body>
    <div class="main-content">
        <div class="ui input focus">
         <b><label>Titulo Actividad: </label></b>
            <input type="text" placeholder="Search..." style="margin-left: 40px;">
          </div>
          <br/>
          <br/>
          <b><label>Lista Actividades: </label></b>
          <br/>
          <textarea cols="50" rows="5"></textarea>
          <br>
          <br>
          <b><label>Estado: </label></b>
          <select class="ui small search dropdown" name="card[expire-month]">
            <option value="Cumplida">Cumplida</option>
            <option value="No Cumplida">No Cumplida</option>
            <option value="No Aplica">No Aplica</option>
          </select>
          <br>
          <br>
          <div class="ui input focus">
          <b><label>Asignar Actividad a: </label></b>
          </div>
    </div>
</body>
