<app-menu></app-menu>
<body>
    <div class="main-content">
    <h3>Manejo de Actividades</h3>
    <br/>
            <div class="ui input focus">
         <b><label>Titulo Actividad: </label></b>
            <input type="text"  style="margin-left: 40px;" [(ngModel)]="titulo">
          </div>
          <br/>
          <br/>
          <b><label>Lista Actividades: </label></b>
          <br/>
          <textarea cols="50" rows="5" [(ngModel)]="actividades"></textarea>
          <br>
            <br>
            <br>
            <div class="ui input focus">
              <b><label>Auditor(a): </label></b>
              <input type="text"  style="margin-left: 20px;" [(ngModel)]="encargado">
              </div>
          <br>
          <br>    
          <br> 
          <button class="ui teal button" (click)="NewTask()" style="margin-left: 60px;">
            Agregar
          </button>
          <button class="ui violet button" style="margin-left: 80px;" routerLink="/listact">
             Ver Lista
          </button>
    </div>
</body>
<app-footer></app-footer>