<body>
<h2>Create your Account</h2>    
<div class="main-content">
<b><label>Username: </label></b>
<br/>
<div class="ui left icon input">
    <input type="text" placeholder="username">
    <i class="users icon"></i>
  </div>
  <br/>
  <br/>
<b><label>Email: </label></b>
<br/>
  <div class="ui left icon input">
    <input type="password" placeholder="email">
    <i class="envelope icon"></i>
</div>
<br/>
<br/>
<b><label>Password: </label></b>
<br/>
<div class="ui left icon input">
    <input type="password" placeholder="password">
    <i class="key icon"></i>
</div>
<br/>
<br/>
<button class="ui large purple button" style="margin-left: 30px;">
    Create Account
</button>
<br/>
<br/>
<a href="">Do you have already an account?</a>
</div>
</body>
<app-footer></app-footer>