<app-menu></app-menu>

<div class="ui comments">
    <h3 class="ui dividing header">Comentarios</h3>
    <div class="comment">
     
      <div class="content">
        
      </div>
      <div class="comments">
        <div class="comment">
          
        </div>
      </div>
    </div>
    <div class="comment">
      
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea></textarea>
      </div>
      <button type="submit"  class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Comentar
      </button>
      <button type="submit"  class="ui green labeled submit icon button">
        <i class="eye icon"></i> Ver Mensajes
      </button>
    </form>
  </div>
  <app-footer></app-footer>