.viewport{
    height: 300px;
    width: 800px;
    border: 1px dotted black;
    text-align: center;
   justify-content: center;
   align-items: center;
   margin-left: 300px;
}
.commentarios{
    height: 50px;
    width: 100px;
}

.content{
    justify-content: center;
}
