<app-menu></app-menu>
<br/>
<body>

 
<br/>
<br/>
             <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
             <p *cdkVirtualFor="let comment of allComments | async">
              <b><label>Fecha: {{comment.fechahora}}</label></b>
            <br/>
              <b><label>Usuario: {{comment.username}}</label></b>
              <br/>
              <b><label>Comentario:</label></b>
          <br/>
              {{comment.comentario}}
            <br/>
            </p>
          </cdk-virtual-scroll-viewport>
   <br/>
   <br/>      
      <textarea [(ngModel)]="comentario" rows="5" cols="70" style="margin-left: 450px;"></textarea>
      <br/>
      <br/>
      <button type="submit" (click)="addComment()" class="ui blue labeled submit icon button" style="margin-left: 500px;">
        <i class="icon edit"></i> Comentar
      </button>
      <button type="submit"   class="ui green labeled submit icon button" style="margin-left: 100px;">
        <i class="upload icon"></i>Subir
      </button>

</body>
